<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ settings.storeName }}</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
		<link rel="icon" 
					type="image/png" 
					href="{{ asset('img/favicon.ico') }}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="span6">
            <a href="{{ path('mh_store_homepage') }}"><h1 id="logo">{{ settings.storeName }}</h1></a>
        </div><!-- span6 -->
        <div class="span6 actions my_stuff">
            {% if customer is defined %}
							<a href="{{ path('customers_orders') }}">My Orders</a> |
							<a href="#">About</a> |
							<a href="{{ path('customers_logout') }}">Log out</a>
						{% else %}
							<a href="{{ path('customers_login') }}">Log in</a> |
							<a href="#">About</a> |
							<a href="{{ path('customers_new') }}">Register</a>
						{% endif %}
						
						<div class="clear"></div>

<h4 style="
    display: block;
    float: right;
"><u>Tel:</u> 0800 000 000 <u>Email:</u>: sales@pantasticpots.co.uk</h4>
            <div id="cart">
                <a href="{{ path('mh_store_complete_order') }}">Shopping bag ({{ products_in_cart|length }} items)</a>
            </div><!-- cart -->
        </div><!-- span6 -->
    </div><!-- row -->
    <div class="row">
        <div class="span12">
            <div class="navbar">
                <div class="navbar-inner">
                    <ul class="nav">
												<li><a href="{{ path('mh_store_homepage') }}">Home</a></li>
                        {% for category in categories %}
                            <li><a href="{{ path('mh_store_primary_category', { id: category.id }) }}">{{ category }}</a></li>
                        {% endfor %}
                    </ul><!-- nav -->
                </div><!-- navbar-inner -->
            </div><!-- navbar -->
        </div><!-- span12 -->
    </div><!-- row -->
</div><!-- container -->

<div class="container">
	<div class="row">
		<div class="span12">
				{% for flashMessage in app.session.flashbag.get('notice') %}
					<div class="alert alert-warning">
							{{ flashMessage }}
					</div><!-- left -->
				{% endfor %}
		</div>
	</div>
</div>
{% block body %}

{% endblock %}

<footer>
    <div class="container">
        <div class="row">
            <div class="span3">
                <h3>WHAT OUR CUSTOMERS ARE SAYING</h3>
								<p>
									<i>
										"Great product matched with great service"<br />
										"Great item and quick delivery."<br />
										"Many thanks for a great service."<br />
										"Very prompt delivery"<br />
										"Excellent quality pans, really pleased."
									</i>
								</p>
						</div>
            <div class="span3">
                <h3>INFORMATION</h3>
                <ul>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Customer service</a></li>
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="#">Orders and returns</a></li>
                </ul>

								<p>Registered Company: 0123456</p>
								<p>VAT Number: 0123456</p>
            </div>
            <div class="span3">
                <h3>STORE</h3>
                <ul>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">FAQ's</a></li>
                    <li><a href="#">Shipping &amp; Returns</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                </ul>
<img src="http://pantastic.staging.mikedhart.co.uk/img/sagepay.jpg" alt="Sage Pay" title="We use Sage Pay">
            </div>
						<div class="span3">
                <h3>TWITTER</h3>
<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/PantasticPots" data-widget-id="475924607069736961" data-chrome="nofooter noborders transparent noheader">Tweets by @PantasticPots</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
						</div>
        </div>
    </div>
</footer>

<script type="text/javascript" charset="utf-8" src="{{ asset('js/jquery-2.1.0.min.js') }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ asset('js/bootstrap.min.js') }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ asset('js/main.js') }}"></script>

</body>
</html>
