{% extends 'MHStoreBundle:Default:layout.html.twig' %}

{% block body -%}
<div class="container">
	<div class="row">
		<div class="span12">
    <h1>Customer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>First name</th>
                <td>{{ entity.firstName }}</td>
            </tr>
            <tr>
                <th>Last name</th>
                <td>{{ entity.lastName }}</td>
            </tr>
            <tr>
                <th>Email address</th>
                <td>{{ entity.emailAddress }}</td>
            </tr>
            <tr>
                <th>Billing Address 1</th>
                <td>{{ entity.billingaddress1 }}</td>
            </tr>
            <tr>
                <th>Billing Address 2</th>
                <td>{{ entity.billingaddress2 }}</td>
            </tr>
            <tr>
                <th>Billing Town</th>
                <td>{{ entity.billingtown }}</td>
            </tr>
            <tr>
                <th>Billing County</th>
                <td>{{ entity.billingcounty }}</td>
            </tr>
            <tr>
                <th>Billing Country</th>
                <td>{{ entity.billingcountry }}</td>
            </tr>
        </tbody>
    </table>
		</div>
	</div>
</div>
{% endblock %}
