{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Product creation</h1>

    {{ form_start(form) }}
        {{ form_row(form.sku) }}
        {{ form_row(form.barcode) }}
        {{ form_row(form.manufacturerRange) }}
        {{ form_row(form.name) }}
        {{ form_row(form.blurb) }}
        {{ form_row(form.description) }}
        {{ form_row(form.price) }}
        {{ form_row(form.suggestedSellingPrice) }}

        <ul class="details" data-prototype="{{ form_widget(form.details.vars.prototype)|e }}">
            {% for detail in form.details %}
                <li>{{ form_row(detail.detail) }}</li>
                <li>{{ form_row(detail.value) }}</li>
            {% endfor %}
        </ul>
    {{ form_end(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_products') }}">
            Back to the list
        </a>
    </li>
</ul>

    <script>
        var $collectionHolder;

        // setup an "add a tag" link
        var $addTagLink = $('<a href="#" class="add_tag_link btn">Add detail</a>');
        var $newLinkLi = $('<li></li>').append($addTagLink);

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('ul.details');

            // add a delete link to all of the existing tag form li elements
            $collectionHolder.find('li').each(function() {
                addTagFormDeleteLink($(this));
            });

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
            });
        });

        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<a href="#" class="btn btn-danger">Remove Detail</a>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }

        function addTagForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);

            addTagFormDeleteLink($newFormLi);
        }
    </script>
{% endblock %}
